@charset "UTF-8";
h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6, p {
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5rem; }

.home-bg {
  background-color: lightblue; }

@font-face {
  font-family: 'Quicksand';
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("./fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.side-margins, .logos, .container {
  margin-left: 25px;
  margin-right: 25px; }

.hidden {
  display: none; }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInLeft {
  animation-name: slideInLeft;
  position: relative;
  z-index: 8999;
  animation-duration: 0.25s;
  animation-fill-mode: both; }

.wrapper {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 768px) {
    .wrapper {
      width: 740px; } }
  @media (min-width: 992px) {
    .wrapper {
      width: 960px; } }
  @media (min-width: 1200px) {
    .wrapper {
      width: 1160px; } }

.button,
button,
input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

input[type="submit"].button-primary,
input[type="submit"].button-primary:focus {
  color: #FFF;
  background-color: #67adcf;
  border-color: #67adcf;
  outline: 0;
  transition: 0.25s all linear; }

input[type="submit"].button-primary:hover {
  color: #67adcf;
  background-color: #e5e7e4;
  border-color: #67adcf; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="text"],
textarea {
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="text"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

body {
  margin: 0;
  font-family: Quicksand;
  transition: 0.25s all linear;
  background-image: url(https://s3.amazonaws.com/react-portfolio/wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#app {
  width: 100%; }
  #app .nav-links {
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0 15px;
    text-decoration: none; }
  #app h1 {
    color: #000;
    font-size: 3em; }

.logos-wrap {
  position: relative;
  z-index: 9000;
  background-color: #e5e7e4; }

.logos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #16151a;
  background: transparent; }

.sublogo {
  margin-top: 15px; }

.logo span {
  display: inline-block;
  letter-spacing: -1.5px; }

.background {
  height: 50px;
  max-width: 100%;
  border-top: 1px solid #16151a;
  border-bottom: 1px solid #16151a; }

.container-wrap {
  border-bottom: 1px solid #16151a;
  position: relative;
  z-index: 9000;
  background-color: #e5e7e4; }

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row; }
  .container svg {
    height: 1.75rem;
    margin-left: 1em;
    margin-top: 0.4em;
    transform: rotate(0deg);
    transition: 0.25s all linear; }
  .container.caret-tog svg {
    transform: rotate(90deg);
    margin-top: 1em;
    margin-left: 0.8em; }

.dropdown-wrap {
  margin: 0;
  padding: 25px; }

.dropdown, .form-wrap {
  background-color: rgba(229, 231, 228, 0.7);
  border-radius: 4px;
  border: 1px solid #3c3d6d;
  padding: 40px 20px; }

.icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .icons svg {
    margin: 15px !important; }
    .icons svg path {
      fill: #2e2c36 !important; }

.form-wrap form {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .form-wrap form div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    padding: 15px 0; }
  .form-wrap form .submit-btn {
    display: flex;
    align-items: center;
    flex-direction: column; }
