.main {
    font-family: 'Galano';
    grid-area: main;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    @include tablet-up {
        height: calc(100vh - 38px);
        min-height: calc(900px - 38px);
    }

    @include phone {
        height: calc(100vh - 103px);
        min-height: auto;
    }

    .content {
        margin-top: 80px;
        margin-left: 92px;

        @include phone {
            max-width: 275px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
        }
    }

    .headings {
        font-weight: normal;
        font-style: italic;
        display: grid;
        grid-template-areas: 
            "amp top-heading"
            "amp bottom-heading"
        ;
        width: max-content;
        margin-bottom: 36px;

        h3 {
            height: max-content;
            position: relative;
            font-size: 36px;

            @include phone {
                font-size: 24px;
                line-height: 1.8;
            }

            &:first-of-type {
                grid-area: top-heading;
                align-self: end;
                right: 50px;
                top: 15px;

                @include phone {
                    right: 35px;
                }
            }

            &:last-of-type {
                grid-area: bottom-heading;
                align-self: end;
            }
        }
    }

    .ampersand {
        width: 125px;
        height: 140px;
        grid-area: amp;
        opacity: 0.6;

        @include phone {
            width: 78px;
            height: 87px;
        }
    }


    .copy {
        font-style: normal;
        font-weight: 100;
        width: 535px;
        font-size: 24px;
        line-height: 40px;

        @include phone {
            font-size: 18px;
            line-height: 36px;
            width: 232px;
            align-self: flex-end;
        }
    }

    .icon-nav {
        .icons {
            svg {
                width: 130px;

                @include phone {
                    width: 65px;
                }
            }
        }

        svg {
            width: 424px;

            @include phone {
                width: auto;
            }
        }
    }
}
