body {
    margin: 0;
    font-family: Quicksand!important;
    transition: 0.25s all linear;
    // background: url(https://s3.amazonaws.com/www.timhilton.net/Wall.jpg) no-repeat center center fixed;
    background-color: $white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @include phone {
        &:before {
          content: "";
          display: block;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -10;
          // background: url(https://s3.amazonaws.com/www.timhilton.net/Wall.jpg) no-repeat center center;
          background-color: $white;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    }
}

.wrap {
        content: ' ';
        position: absolute;
        background-color: rgba(white, 0.8);
        background-size: cover;
        width: 100%;
        min-height: 100%;
        height: auto;
}
