.sidebar {
    background-color: $background;
    height: 100vh;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    border-right: 1px solid $border;
    grid-area: sidebar;
    width: 42px;
    min-height: 834px;

    @include tablet {
        min-height: 768px;
    }

    @include phone {
        height: 65px;
        position: relative;
        flex-direction: row;
        justify-content: center;
        border-right: none;
        border-top: 1px solid $border;
        width: 100%;
        min-height: 0;
        z-index: 2;
        order: 1;
        margin-bottom: 80px;
    }

    h2 {
        font-family: 'SF Pro Text';
        font-weight: 300;
        font-style: italic;
        font-size: 24px;
        letter-spacing: 2.75px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        justify-self: center;
        margin-top: 48px;

        @include phone {
            display: none;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-row-gap: 16px;
        bottom: 0;
        padding-bottom: 16px;

        @include phone {
            grid-row-gap: 0;
            grid-column-gap: 54px;
            max-width: 275px;
            grid-template-columns: repeat(4, 1fr);
            padding-top: 17px;
            padding-bottom: 20px;
            margin-top: 7px;
        }
    }

    li {
        svg {
            font-size: 32px;

            @include phone {
                font-size: 28px;
            }
        }
    }
}