@import "../variables/variables.scss";
@import "../components/global.scss";
@import "../components/keyframes.scss";

// Technologies
.skills-list {
    h5 {
        text-decoration: underline;
        animation: autoAlpha 1.25s linear forwards;
    }

    p {
        animation: autoAlpha 1.25s linear forwards;
    }
}
