.topnav {
    background-color: $background;
    border-bottom: 1px solid $border;
    display: flex;
    align-items: center;
    grid-area: topnav;
    margin-left: 42px;
    position: fixed;
    width: calc(100% - 42px);

    @include phone {
        justify-content: center;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 38px;
        top: 0;
        margin-left: 0;
    }

    div {
        width: 39px;
        height: 28px;
        margin-left: 8px;
    }
}