.topnav {
    background-color: $background;
    border-bottom: 1px solid $border;
    display: flex;
    align-items: center;
    grid-area: topnav;

    @include phone {
        justify-content: center;
    }

    div {
        width: 39px;
        height: 28px;
        margin-left: 8px;
    }
}