//== Grid system
@import "./media-queries.scss";

// EXACTLY WHAT THE VARIABLE SAYS
$grid-columns: 12 !default;
// GUTTER PADDING
$grid-gutter: 20px !default;

// CONTAINERS - based off bootstrap
// DEFAULT FOR PHONES IS 100% - $grid-gutter

// TABLET
$container-sm: (720px + $grid-gutter) !default;

// DESKTOP
$container-md: (940px + $grid-gutter) !default;

// WIDE DESKTOP
$container-lg: (1140px + $grid-gutter) !default;
