h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6, p { font-size: 1rem; }

h1, h2, h3, h4, h5, h6, p { line-height: 1.5rem; }

$radius: 5px;

// colors
$dark-grey: #302f35;
$purple: #3c3d6d;
$black: #16151a;
$white: #e5e7e4;
$light-blue: #67adcf;
$gray: #bfbebe;
$green: #00b810;


$background: #191919;
$border: #979797;
$copy: #F6F6F6;