@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand Regular'),
  local('Quicksand-Regular'),
  url('./fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
