@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand Regular'),
  local('Quicksand-Regular'),
  url('./fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Galano';
  src: local('GalanoGrotesque-Extra-Light'),
  local('GalanoGrotesque-Extra-Light'),
  url('./fonts/GalanoGrotesque-Extra-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Galano';
  src: local('GalanoGrotesque Italic'),
  local('GalanoGrotesque-Italic'),
  url('./fonts/GalanoGrotesque-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF-Pro-Text-LightItalic'),
  local('SF-Pro-Text-LightItalic'),
  url('./fonts/SF-Pro-Text-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
