@import "./keyframes.scss";
* {
    margin: 0;
    padding: 0;
    color: $copy;
    background-color: $background;
}

.side-margins {
    margin: 0 25px;
}

.hidden {
    display: none;
}

.visible-xs {
    display: none;

    @include phone {
        display: block;
    }
}

.slideInLeft {
  animation-name: slideInLeft;
  position: relative;
  z-index: 8999;
  animation-duration: 1s;
  animation-fill-mode: both;
}

// components - global
.dropdown {
    background-color: rgba($white, 0.7);
    border-radius: $radius;
    border: 1px solid $purple;
    padding: 40px 20px;
}

.component-wrap {
    @extend .side-margins;
    padding: 0.5rem 1rem;
    padding-top: 13vh;

    @include phone {
        padding: 0.5rem 0;
        padding-top: 13vh;
    }

    .component-heading {
        @extend .slideInLeft;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        svg {
            width: 20px;
            margin-left: 5px;
        }
    }
}

// new globals
.content-container {
    display: grid;
    grid-template-areas: "sidebar topnav" "sidebar main";
    grid-template-columns: 42px 1fr;
    grid-template-rows: 38px 1fr;

    @include phone {
        display: flex;
        flex-direction: column;
    }
}
