@import "./keyframes.scss";
* {
    margin: 0;
    padding: 0;
    color: $copy;
    background-color: $background;
}

.hidden {
    display: none;
}

.visible-xs {
    display: none;

    @include phone {
        display: block;
    }
}

// components - global
.dropdown {
    background-color: rgba($white, 0.7);
    border-radius: $radius;
    border: 1px solid $purple;
    padding: 40px 20px;
}

.component-wrap {
    margin-inline-start: 48px;
    padding: 0.5rem 1rem;

    @include phone {
        padding: 0.5rem 0;
    }

    .component-heading {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }
}

// new globals
.content-container {
    position: relative;
    display: grid;
    grid-template-areas: "sidebar topnav" "sidebar main";
    grid-template-columns: 42px 1fr;
    grid-template-rows: 38px 1fr;
    min-height: 834px;

    @include tablet {
        min-height: 768px;
    }

    @include phone {
        min-height: 0;
        display: flex;
        flex-direction: column;
    }
}
