@import "../mixins/grid.scss";
@import "../mixins/media-queries.scss";

// in this instance wrapper is like a container and a row all in one
.wrapper {
    display: flex;

    @include container-fixed;

    @include tablet {
        width: $container-sm;
    }
    @include desktop {
        width: $container-md;
    }
    @include lg-desktop-up {
        width: $container-lg;
    }
}
