.ReactModal__Overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: rgba($black, 0.75) !important;
    z-index: 8999;
}

.ReactModal__Content {
    background-color: $white !important;
    border: 2px solid $purple !important;
    text-align: center !important;
    width: 50% !important;
    height: auto !important;
    border-radius: $radius !important;
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    margin-right: -50% !important;
    padding: 2% !important;
    transform: translate(-50%, -50%) !important;

    @include phone {
        width: 80% !important;
        padding-top: 50px !important;
    }
}

.link {
  background-color: $green;
  border-radius: 50%;
  height: 49px;
  width: 49px;
  margin: 25px;
  display: inline-block;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
