h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6, p {
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5rem; }

@font-face {
  font-family: 'Galano';
  src: local("GalanoGrotesque-Extra-Light"), local("GalanoGrotesque-Extra-Light"), url("./fonts/GalanoGrotesque-Extra-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Galano';
  src: local("GalanoGrotesque Italic"), local("GalanoGrotesque-Italic"), url("./fonts/GalanoGrotesque-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Text';
  src: local("SF-Pro-Text-LightItalic"), local("SF-Pro-Text-LightItalic"), url("./fonts/SF-Pro-Text-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic; }

@keyframes slideInLeft {
  from {
    transform: translate3d(-50%, 0, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes fadeIn {
  0% {
    transform: scale3d(0, 0, 0);
    opacity: 0; }
  80% {
    transform: scale3d(1, 1, 1); }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

@keyframes autoAlpha {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px 0 rgba(47, 108, 252, 0), 0 0 10px 5px rgba(93, 193, 249, 0.4), 0 0 15px 10px rgba(47, 108, 252, 0.4); }
  50% {
    box-shadow: 0 0 5px 10px rgba(93, 193, 249, 0.4), 0 0 5px 15px rgba(47, 108, 252, 0.4), 0 0 5px 0 rgba(47, 108, 252, 0); }
  100% {
    box-shadow: 0 0 5px 0 rgba(47, 108, 252, 0), 0 0 5px 10px rgba(93, 193, 249, 0.4), 0 0 5px 15px rgba(47, 108, 252, 0.4); } }

* {
  margin: 0;
  padding: 0;
  color: #F6F6F6;
  background-color: #191919; }

.hidden {
  display: none; }

.visible-xs {
  display: none; }
  @media (min-width: 320px) and (max-width: 767px) {
    .visible-xs {
      display: block; } }

.dropdown {
  background-color: rgba(229, 231, 228, 0.7);
  border-radius: 5px;
  border: 1px solid #3c3d6d;
  padding: 40px 20px; }

.component-wrap {
  margin-inline-start: 48px;
  padding: 0.5rem 1rem; }
  @media (min-width: 320px) and (max-width: 767px) {
    .component-wrap {
      padding: 0.5rem 0; } }
  .component-wrap .component-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row; }

.content-container {
  position: relative;
  display: grid;
  grid-template-areas: "sidebar topnav" "sidebar main";
  grid-template-columns: 42px 1fr;
  grid-template-rows: 38px 1fr;
  min-height: 834px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .content-container {
      min-height: 768px; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .content-container {
      min-height: 0;
      display: flex;
      flex-direction: column; } }

.wrapper {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
      width: 740px; } }
  @media (min-width: 1025px) {
    .wrapper {
      width: 960px; } }
  @media (min-width: 1025px) {
    .wrapper {
      width: 1160px; } }

.ReactModal__Overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: rgba(22, 21, 26, 0.75) !important;
  z-index: 8999; }

.ReactModal__Content {
  background-color: #e5e7e4 !important;
  border: 2px solid #3c3d6d !important;
  text-align: center !important;
  width: 50% !important;
  height: auto !important;
  border-radius: 5px !important;
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  margin-right: -50% !important;
  padding: 2% !important;
  transform: translate(-50%, -50%) !important; }
  @media (min-width: 320px) and (max-width: 767px) {
    .ReactModal__Content {
      width: 80% !important;
      padding-top: 50px !important; } }

.link {
  background-color: #00b810;
  border-radius: 50%;
  height: 49px;
  width: 49px;
  margin: 25px;
  display: inline-block; }

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; }

:root {
  --app-height: 100%; }

body {
  margin: 0;
  transition: 0.25s all linear;
  background-color: #191919; }

.topnav {
  background-color: #191919;
  border-bottom: 1px solid #979797;
  display: flex;
  align-items: center;
  grid-area: topnav;
  margin-left: 42px;
  position: fixed;
  width: calc(100% - 42px); }
  @media (min-width: 320px) and (max-width: 767px) {
    .topnav {
      justify-content: center;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 38px;
      top: 0;
      margin-left: 0; } }
  .topnav div {
    width: 39px;
    height: 28px;
    margin-left: 8px; }

.sidebar {
  background-color: #191919;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-right: 1px solid #979797;
  grid-area: sidebar;
  width: 42px;
  min-height: 834px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .sidebar {
      min-height: 768px; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .sidebar {
      height: 65px;
      position: relative;
      flex-direction: row;
      justify-content: center;
      border-right: none;
      border-top: 1px solid #979797;
      width: 100%;
      min-height: 0;
      z-index: 2;
      order: 1;
      margin-bottom: 80px; } }
  .sidebar h2 {
    font-family: 'SF Pro Text';
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 2.75px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    justify-self: center;
    margin-top: 48px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .sidebar h2 {
        display: none; } }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-gap: 16px;
    bottom: 0;
    padding-bottom: 16px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .sidebar ul {
        grid-row-gap: 0;
        grid-column-gap: 54px;
        max-width: 275px;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 17px;
        padding-bottom: 20px;
        margin-top: 7px; } }
  .sidebar li svg {
    font-size: 32px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .sidebar li svg {
        font-size: 28px; } }

.icon-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  align-self: flex-end; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .icon-nav {
      position: fixed;
      width: calc(100% - 42px);
      max-width: 100%;
      border-top: 1px solid #979797;
      display: flex;
      justify-content: center; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .icon-nav {
      width: 100%;
      max-width: 100%;
      border-top: 1px solid #979797;
      position: relative;
      display: flex;
      justify-content: center; } }

.icon-nav-container {
  width: 470px;
  height: 460px;
  display: grid;
  grid-template-areas: ". . resume" ". mail ." "terminal . .";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0 77px 64px 0; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .icon-nav-container {
      grid-template-areas: "terminal mail resume";
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 65px);
      grid-column-gap: 0;
      justify-content: space-between;
      max-width: 275px;
      height: auto;
      padding: 24px 0; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .icon-nav-container {
      grid-template-areas: "terminal mail resume";
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 65px);
      grid-column-gap: 0;
      justify-content: space-between;
      max-width: 275px;
      height: auto;
      padding: 24px 0; } }

.icon-resume {
  grid-area: resume;
  cursor: default; }
  .icon-resume svg {
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(43, 179, 16, 0), 0 0 0 0 rgba(203, 255, 183, 0.4), 0 0 0 0 rgba(43, 179, 16, 0.4);
    transition: box-shadow 250ms linear; }
    .icon-resume svg:hover {
      box-shadow: 0 0 5px 0 rgba(43, 179, 16, 0), 0 0 10px 5px rgba(203, 255, 183, 0.4), 0 0 15px 10px rgba(43, 179, 16, 0.4); }

.icon-mail {
  grid-area: mail;
  margin-top: -21px;
  margin-left: -21px;
  cursor: default; }
  .icon-mail svg {
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(47, 108, 252, 0), 0 0 0 0 rgba(93, 193, 249, 0), 0 0 0 0 rgba(47, 108, 252, 0);
    transition: box-shadow 250ms linear; }
    .icon-mail svg:hover {
      box-shadow: 0 0 5px 0 rgba(47, 108, 252, 0), 0 0 10px 5px rgba(93, 193, 249, 0.4), 0 0 15px 10px rgba(47, 108, 252, 0.4); }

.icon-terminal {
  grid-area: terminal;
  cursor: default; }
  .icon-terminal svg {
    cursor: pointer;
    box-shadow: white 0 0 0 0 rgba(161, 153, 153, 0), 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 0 rgba(161, 153, 153, 0);
    transition: box-shadow 250ms linear; }
    .icon-terminal svg:hover {
      box-shadow: 0 0 5px 0 rgba(161, 153, 153, 0), 0 0 10px 5px rgba(255, 255, 255, 0.1), 0 0 15px 10px rgba(161, 153, 153, 0.2); }

.icon-pathline {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .icon-pathline {
      display: none; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .icon-pathline {
      display: none; } }

.icons {
  position: relative;
  z-index: 3; }
  .icons svg {
    border-radius: 50%; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .icons {
      margin: 0; }
      .icons svg {
        width: 65px;
        height: 65px; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .icons {
      margin: 0; }
      .icons svg {
        width: 65px;
        height: 65px; } }

.icon-nav .icons svg {
  width: 130px;
  background-color: transparent; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .icon-nav .icons svg {
      width: 65px; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .icon-nav .icons svg {
      width: 65px; } }

.icon-nav svg {
  width: 424px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .icon-nav svg {
      width: auto; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .icon-nav svg {
      width: auto; } }

.main {
  font-family: 'Galano';
  grid-area: main;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: calc(100vh - 38px);
  min-height: calc(834px - 38px); }
  @media (min-width: 768px) and (max-width: 1024px) {
    .main {
      min-height: 0;
      flex-direction: column; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .main {
      height: auto;
      flex-direction: column;
      min-height: calc(100vh - 128px); } }
  .main .content {
    margin-top: 80px;
    margin-left: 92px; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .main .content {
        z-index: 2;
        width: max-content; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .main .content {
        max-width: 275px;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        margin: 80px auto 64px; } }
  .main .headings {
    font-weight: normal;
    font-style: italic;
    display: grid;
    grid-template-areas: "amp top-heading" "amp bottom-heading";
    width: max-content;
    margin-bottom: 36px; }
    .main .headings h3 {
      height: max-content;
      position: relative;
      font-size: 36px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .main .headings h3 {
          font-size: 24px;
          line-height: 1.8; } }
      .main .headings h3:first-of-type {
        grid-area: top-heading;
        align-self: end;
        right: 50px;
        top: 15px; }
        @media (min-width: 320px) and (max-width: 767px) {
          .main .headings h3:first-of-type {
            right: 35px; } }
      .main .headings h3:last-of-type {
        grid-area: bottom-heading;
        align-self: end; }
  .main .ampersand {
    width: 125px;
    height: 140px;
    grid-area: amp;
    opacity: 0.6; }
    @media (min-width: 320px) and (max-width: 767px) {
      .main .ampersand {
        width: 78px;
        height: 87px; } }
  .main .copy {
    font-style: normal;
    font-weight: 100;
    width: 505px;
    font-size: 24px;
    line-height: 40px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .main .copy {
        font-size: 18px;
        line-height: 36px;
        width: 232px;
        align-self: flex-end; } }
